.nav-wrappe{background-color: brown;}
.text{
    text-align: center;
    font-size: 40px;
    
}
.imge{
    margin-top: 40px;
    margin-left: 540px;
    height: 150px;
}
.imgeb{
    margin-top: 50px;
    margin-left: 120px;
    height: 180px;
    width: 280px;
}
.imgea{
    margin-top: 50px;
    margin-left: 160px;
    height: 180px;
    width: 280px;
}
.imgec{
    margin-top: 50px;
    margin-left: 150px;
    height: 180px;
    width: 280px;
}